.envio-bar {
  background-color: #2f2f2f;
  color: #fff;
  text-align: center;
  padding: 3px 0;
  font-weight: 600;
  font-size: 13.5px;
  letter-spacing: 1.5px;
  margin-top: 71px;
}

.mosaico {
  display: grid;
  gap: 10px;
  max-width: 70%;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  margin-top: 70px;
}

.mosaico-item {
  position: relative;
}

.mosaico-item img {
  width: 100%;
  height: auto;
  display: block;
  cursor: pointer;
}
#ropa{
  
  width: 97%;
  height: 110%;
  margin-left: 3%;
}
#buceo {
  
  height: 110%;
  width: 97%;
  margin-left: 3%;
}

#electronica {
  padding: 0px;
  height: 80%;
}

#deportes {
  height: 75%;
  width: 200%;
  margin-top: 13%;
  margin-left: 3%;
}

#piscina {
  height: 100%;
  margin-top: -15%;
}

.new-products {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  position: relative; 
}

.new-products .photo {
  flex: 1; 
  max-width: 40%;
}

.carrusel {
  background-color: #f7f7f7;
  flex: 1; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px; 
  height: 100%;
}

#title {
  max-width: 60%; 
  margin: auto;
  position: absolute;
  top: -12%; 
  text-align: center;
  font-size: 2rem; 
}


#new-photo {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}


@media (max-width: 1024px) {
  .new-products {
    flex-direction: column; 
  }

  #title {
    max-width: 80%;
    top: -30px; 
  }

  #new-photo {
    display: none; 
  }
}
