.envio-bar {
    background-color: #2f2f2f; /* Color de fondo */
    color: #fff; /* Color del texto */
    text-align: center; /* Centrar texto */
    padding: 3px 0; /* Espacio en vertical */
    font-weight: 600; /* Texto en negrita */
    font-size: 13.5px;
    letter-spacing: 1.5px;
  }
  