<footer>
  <div class="footer-top">
    <div class="newsletter-section">
      <div> 
        <img src="assets/images/footer/newslatter.png" alt="..."  style="height: 80px;">
        <form>
          <input type="text" placeholder="Nombre" />
          <input type="email" placeholder="E-mail" />
          <button type="submit">SUSCRÍBETE</button>
        </form>
      </div>
      <div class="social-icons" style="align-items: center;">
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-youtube"></i>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer-links">
        <div>
            <h3>CONTACTO</h3>
            <ul>
                <li>Whatsapp</li>
                <li>Horario de atención: Lunes a Viernes de 8:00am a 5:00pm</li>
            </ul>
        </div>
        <div>
            <h3>OCEANICA</h3>
            <ul>
                <li>Historia</li>
                <li>¿Quieres distribuir Oceanica?</li>
                <li>Trabaja con nosotros</li>
            </ul>
        </div>
        <div>
            <h3>INFORMACIÓN DEL SITIO</h3>
            <ul>
                <li>Términos y condiciones de uso</li>
                <li>Política de envíos</li>
                <li>Política de cambios y garantías </li>
            </ul>
        </div>
        <div>
            <h3>AYUDA</h3>
            <ul>
                <li>Preguntas frecuentes</li>
                <li>Solicita un cambio, garantía o devolución</li>
                <li>Guía de tallas</li>
            </ul>
        </div>
    </div>

      <div class="footer-copyright">
          Todos los derechos reservados OCEANICA, Medellín, Colombia.
      </div>
  </div>
</footer>

