<div class="gallery-wrap">
    <i id="backBtn" class="fa-solid fa-chevron-left" (click)="scrollLeft()"></i>

    <div class="gallery" #gallery>
        <div class="product">
            <img src="assets/images/imagee.png" alt="Producto 1">
            
            <button class="quick-buy-btn">
                COMPRA RÁPIDA
                <i class="fa-solid fa-search"></i>
            </button>
            <p class="product-name" style="font-weight: bold;">Nombre del Producto</p>
            <p class="product-price" style="color: red; font-weight: bold">$209.900 COP</p>
        </div>
        <div class="product">
            <img src="assets/images/image1.png" alt="Producto 2">

            <button class="quick-buy-btn">
                COMPRA RÁPIDA
                <i class="fa-solid fa-search"></i>
            </button>
            <p class="product-name" style="font-weight: bold;">Nombre del Producto</p>
            <p class="product-price" style="color: red; font-weight: bold">$209.900 COP</p>
        </div>
        <div class="product">
            <img src="assets/images/imagee.png" alt="Producto 3">
            
            <button class="quick-buy-btn">
                COMPRA RÁPIDA
                <i class="fa-solid fa-search"></i>
            </button>
            <p class="product-name" style="font-weight: bold;">Nombre del Producto</p>
            <p class="product-price" style="color: red; font-weight: bold">$209.900 COP</p>
        </div>
        <div class="product">
            <img src="assets/images/image1.png" alt="Producto 4">
            
            <button class="quick-buy-btn">
                COMPRA RÁPIDA
                <i class="fa-solid fa-search"></i>
            </button>
            <p class="product-name" style="font-weight: bold;">Nombre del Producto</p>
            <p class="product-price" style="color: red; font-weight: bold">$209.900 COP</p>
        </div>
    </div>
    <i id="nextBtn" class="fas fa-chevron-right" (click)="scrollRight()"></i>
</div>
