<div class="gallery-wrap">
    <i class="fa-solid fa-chevron-right" id="nextBtn"></i>
    <div class="gallery">
        <div>
            <span><img src="assets/images/image.png"></span>
            <span><img src="assets/images/image1.png"></span>
        </div>
        <div>
            <span><img src="assets/images/image.png"></span>
            <span><img src="assets/images/image1.png"></span>
        </div>
        <div>
            <span><img src="assets/images/image.png"></span>
            <span><img src="assets/images/image1.png"></span>
        </div>
    </div>
    <i class="fa-solid fa-chevron-left" id="nextBtn"></i>
</div>
