<div class="topbar">
    <div class="topbar-content">
        <div class="topbar-left">
            <span class="topbar-item">Contáctanos (PQRS)</span>
            <span class="topbar-item">Whatsapp</span>
            <span class="topbar-item">Localizador de tiendas</span>
        </div>
        <div class="topbar-right">
            <div class="dropdown">
                <span *ngIf="isAdmin" class="dropdown-toggle">Productos</span>
                <div class="dropdown-menu">
                    <a (click)="navigateToAdmin('create-product')">Nuevo Producto</a>
                    <a (click)="navigateToAdmin('edit-products')">Editar Productos</a>
                </div>
            </div>
            <span *ngIf="isAdmin"><a (click)="navigateToAdmin('shipments')">Pedidos</a></span>
            <span class="topbar-item" (click)="navigateToLogin()">
                {{ isLoggedIn ? 'Cerrar Sesión' : 'Mi Cuenta' }}
            </span>
            <img src="assets/images/navbar/user.png" alt="icono" class="user-icon">
        </div>
    </div>
</div>


    <nav class="navbar">
        <div class="navbar-content">
            <div class="logo">
                <img src="assets/images/navbar/logo.png" alt="Logo" (click)="navigateToCategory('')">
            </div>
            
            <ul class="nav-links">
                <li><a (click)="navigateToCategory('buceo')">BUCEO</a></li>
                <li><a (click)="navigateToCategory('ropa')">ROPA</a></li>
                <li><a (click)="navigateToCategory('deporte')">DEPORTE</a></li>
                <li><a (click)="navigateToCategory('electronica')">ELECTRONICA</a></li>
                <li><a (click)="navigateToCategory('mantenimiento')">MANTENIMIENTO</a></li>
                <li><a (click)="navigateToCategory('playa')">PLAYA</a></li>
                <li><a (click)="navigateToCategory('piscina')">PISCINA</a></li>
            </ul>

            <div class="navbar-icons" (click)="openCart()">     
                <img src="assets/images/navbar/bag.png" alt="icono" class="cart-icon">
                <span *ngIf="cartCount > 0" class="cart-count">{{ cartCount }}</span>
            </div>
        </div>
    </nav>

    <div class="envio-bar">
        ENVÍO GRATIS POR COMPRAS MAYORES A $100.000
    </div>
