/* Topbar */
.topbar {
    font-size: small;
    background-color: #d8d4d4;
    padding: 5px 0;
    width: 100%;
    font-weight: 500;
    z-index: 1100;
}

.topbar + .navbar {
    top: 30px; /* Ajusta la posición de la navbar debajo de la topbar */
}

.topbar-content {
    max-width: 1350px; /* Ancho máximo centrado */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.topbar-item {
    margin: 0 10px;
    cursor: pointer;
}

.topbar-left,
.topbar-right {
    display: flex;
    gap: 15px;
}

/* Envio-bar */
.envio-bar {
    margin-top: 100px;
    text-align: center;
    background-color: #2f2f2f;
    color: #ffffff;
    padding: 2px 0;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1.5px;
    transition: top 0.3s, opacity 0.3s;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: height 0.3s; /* Transición para el cambio de altura */
    height: 100px; /* Altura original */
}

.navbar-content {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo img {
    height: 25px;
    margin-right: 25px;
    cursor: pointer;
}

/* Estilos de enlaces en el navbar */
.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: 14px;
    padding: 20px 30px 0 100px;
}

.nav-links li a {
    color: #333;
    text-decoration: none;
    font-weight: 600;
    position: relative;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #0a376e61;
}

/* Efecto de barra transparente */
.nav-links li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #0a376e;
    transform: scaleX(0);
    transform-origin: left;
}

.nav-links li a:hover::after {
    transform: scaleX(1);
    background-color: #0a376e5d;
}

/* Iconos en la barra de navegación */
.navbar-icons {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: auto; /* Alinea los íconos a la derecha */
}

.search-bar input {
    border: none;
    outline: none;
    padding: 5px;
    width: 140px;
}

.navbar-icons i {
    font-size: 22px;
    position: relative;
    margin-left: 70px;
}

.navbar-icons .fa-regular.fa-heart::after,
.navbar-icons .fas.fa-shopping-cart::after {
    content: '1';
    position: absolute;
    top: -5px;
    right: -6px;
    background-color: #f95f24;
    color: #fff;
    border-radius: 100%;
    padding: 2px 5px;
    font-size: 8px;
    font-weight: 100;
}


.admin-bar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.admin-bar-item {
    color: white;
    background: none;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.admin-bar-item:hover {
    background-color: #555;
}

