<div class="topbar">
    <div class="topbar-content">
        <div class="topbar-left">
            <span class="topbar-item">Contáctanos (PQRS)</span>
            <span class="topbar-item">Whatsapp</span>
            <span class="topbar-item">Localizador de tiendas</span>
        </div>
        <div class="topbar-right">
            <span class="topbar-item">Mi Cuenta</span>
        </div>
    </div>
</div>

<nav class="navbar">
    <div class="navbar-content">
        <div class="logo">
            <img src="assets/images/logo.png" alt="..." >
        </div>
        <ul class="nav-links">
            <li><a href="#">BUCEO</a></li>
            <li><a href="#">ROPA</a></li>
            <li><a href="#">SEGURIDAD</a></li>
            <li><a href="#">DEPORTES</a></li>
            <li><a href="#">ELECTRONICA</a></li>
            <li><a href="#">ACCESORIOS</a></li>
            <li><a href="#">PLAYA</a></li>
            <li><a href="#">PISCINA</a></li>
        </ul>
        <div class="navbar-icons">
            <i class="fas fa-search"></i>
            <div class="search-bar">
                <input type="text" placeholder="Buscar" />
            </div>
            <i class="fa-regular fa-heart"></i>
            <i class="fas fa-shopping-cart"></i>
        </div>
    </div>
</nav>
<div class="envio-bar">
    ENVÍO GRATIS POR COMPRAS MAYORES A $100.000
</div>

