<div class="table-container">
  <table class="table">
      <thead>
          <tr>
              <th scope="col">ID</th>
              <th scope="col">Dirección</th>
              <th scope="col">Detalles</th>
              <th scope="col">Total Compra</th>
              <th scope="col">Fecha</th>
              <th scope="col">Acción</th>
          </tr>
      </thead>
      <tbody class="table-group-divider">
          <tr *ngFor="let pedido of pedidos">
              <th scope="row">{{ pedido.id }}</th>
              <td>{{ pedido.direccion }}</td>
              <td><i class="fas fa-eye" (click)="openModal(pedido)"></i></td>
              <td style="font-weight: 500;">$COP {{ pedido.total }}</td>
              <td>{{ pedido.fecha | date }}</td>
              <td><button class="btn btn-danger">Pedido Enviado</button></td>
          </tr>
      </tbody>
  </table>
</div>
