<div class="product-form-container">
    <!-- Formulario de creación de producto -->
    <form (ngSubmit)="createProduct()" #productForm="ngForm">
        <div>
            <label for="nombre">Nombre del Producto:</label>
            <input type="text" id="nombre" [(ngModel)]="product.nombre" name="nombre" required />
        </div>

        <div class="price-stock-container">
            <div class="price-stock-item">
                <label for="precio">Precio:</label>
                <input type="number" id="precio" [(ngModel)]="product.precio" name="precio" required />
            </div>
            <div class="price-stock-item">
                <label for="stock">Stock:</label>
                <input type="number" id="stock" [(ngModel)]="product.stock" name="stock" required />
            </div>
        </div>

        <div>
            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" [(ngModel)]="product.descripcion" name="descripcion" required></textarea>
        </div>

        <div>
            <label>Categorías:</label>
            <div class="categories-container">
                <div class="category-item" *ngFor="let category of availableCategories">
                    {{ category }}
                    <input type="checkbox" [value]="category" (change)="onCategoryChange($event)" />
                </div>
            </div>
        </div>

        <button type="submit">Crear Producto</button>
    </form>

    <!-- Selección de imagen y vista previa de redimensionamiento -->
    <div *ngIf="productId" style="margin-top: 20px;">
        <label for="image">Selecciona la Imagen:</label>
        <input type="file" id="image" (change)="onFileSelected($event)" />

        <div *ngIf="croppedImage" class="image-preview-container">
            <img [src]="croppedImage" alt="Imagen Redimensionada" class="image-preview" />
            <form (ngSubmit)="uploadImage()" #imageForm="ngForm" style="margin-top: 10px;">
                <button type="submit">Subir Imagen</button>
            </form>
        </div>
    </div>
</div>
